@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root{
  --blue-900: #13183F;
  --blue-600: #666CA3;
  --pink-600: #F74780;
  --pink-300: #FFA7C3;
  --grey: #83869A;
  --white: #FFFFFF;
  --gradient-pink: linear-gradient(hsl(322, 87%, 55%), hsl(13, 100%, 64%));
  --gradient-purple: linear-gradient(#4851FF, #F02AA6);
  --font-family: "Plus Jakarta Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: var(--white);
 color: var(--grey);
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 1rem;
 font-family: var(--font-family);
}

button {
 cursor: pointer;
}

